.gradle
build/
.idea/
.vertx/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/target/


*.class
/pom.xml~
/.settings/
/.classpath
/.project
/.yardoc
/tmp
/pombak

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
/file-uploads/
/webroot/
